{% extends 'global/base.html' %} {% block title %}Dashbord {% endblock title %}
{% block content %} {% if request.user.is_authenticated %} {% endif%}


<div class="main-content center container">
  <h2>Dashbord ({{user}})</h2>
  {% include 'authors/partials/login_message.html' %}
  {% include 'global/partials/messages.html' %}

  <div class="authors-dashboard-container">
    <h4 style="text-align:right;"> <a href="{% url 'authors:dashboard_recipe_create'%}">Cadastrar Receita</a></h4>
    <h3>Your recipes</h3>

    <ul>
      {%for recipe in recipes %}

      <li><a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}">{{recipe}}</a></li>

      {% empty %}
      <h6>No recipes found here</h6>
      {%endfor%}
    </ul>
  </div>
</div>

{% if not request.user.is_authenticated %}
{% include 'global/partials/form.html' %}
{%endif%} {% endblock content %}